# Python 자료형 1
- 기간 : 2022.05.11 ~ 2022.05.12

## 자료형의 종류
자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류이다  
자료형 종류는 총 7가지이다
- 일반 자료형
 1. 수치형 자료 (정수, 실수)
 2. 문자열 자료
 3. 부울 자료
- 묶음 자료형
 4. 리스트 자료
 5. 튜플 자료
 6. 사전 자료
 7. 집합 자료

## 일반 자료형

### 1. 수치 자료형 (int / float)

#### 1.1. 정수 자료형 (int)
1) 정수형 자료

In [1]:
a = 123        # a 변수에 정수 저장

In [2]:
print(type(a)) # a 자료형 출력

<class 'int'>

In [3]:
print(a)       # a 변수 출력

123

2) 정수 바이트 수 확인
- (정수).bit_length() 명령어로 정수의 바이트 수 확인

In [4]:
print((9).bit_length()) # 정수 9의 바이트 수 확인

4

#### 1.2. 실수 자료형 (float)

1) 실수형 자료

In [5]:
b = -118.625

In [6]:
print(type(b))

<class 'float'>

In [7]:
print(b)

-118.625

2) **N 진수**로 변환
- 파이썬에서 **정수**를 2진수, 8진수, 16진수로 표기 가능하다
 - 2진수(Binary) : 앞에 0b 라고 표기하며 bin() 함수를 통해 변환
 - 8진수(Octal) : 앞에 0o 라고 표기하며 oct() 함수를 통해 변환
 - 16진수(Hexadecimal) : 앞에 0x 라고 표기하며 hex() 함수를 통해 변환

In [8]:
bin(255) # 정수 255를 2진수로 출력
oct(255) # 정수 255를 8진수로 출력
hex(255) # 정수 255를 16진수로 출력

'0xff'

#### 1.3. 숫자형을 활용하기 위한 연산자 사용

1) 사칙연산

In [9]:
a = 7
b = 3

In [10]:
print(a+b) # a 와 b 를 더한 값
print(a-b) # a 에서 b 를 뺀 값
print(a*b) # a 와 b 를 곱한 값
print(a/b) # a 에서  b 를 나눈 값

10
4
21
2.3333333333333335

2) x 의 y 제곱을 나타내는 ** 연산자

In [11]:
print(a**b) # a 의 b 제곱 출력

343

3) 나눗셈 후 나머지를 반환하는 % 연산자

In [12]:
print(a%b) # a 에서 b 를 나눈 나머지 값 출력

1

4) 나눗셈 후 몫을 반환하는 // 연산자

In [13]:
print(a//b) # a 에서 b 를 나눈 몫 출력

2

### 2. 문자열 자료형 (string)
- 문자 하나로 or 단어 등으로 구성된 문자들의 집합
- 따옴표로 둘러싸여 있으면 모두 문자열

#### 2.1. 문자 자료형 (string)

In [14]:
a = "Hello World"     # 변수 a 에 "Hello World" 라는 문자 넣기
print(a)              # 변수 a 의 값 확인
print(type(a))        # 변수 a 의 타입 확인

Hello World
<class 'str'>

In [15]:
b = "2"          # 변수 b 에 2 라는 문자 넣기
print(b)         # 변수 b 의 값 확인
print(type(b))   # 변수 b 의 타입 확인

2
<class 'str'>

#### 2.2. 문자열에서 "" (큰 따옴표) 표현

1) 동일한 따옴표 중복 사용 시 에러 발생

In [16]:
# ERROR : 동일한 따옴표 중복 사용 시 에러 발생
say1 = ""Python is very easy" he says""

SyntaxError: invalid syntax (Temp/ipykernel_7964/4115324977.py, line 1)

2) 작은 따옴표와 큰 따옴표 둘 다 사용

In [23]:
say2 = '"Python is very easy" he says'
print(say2)

"Python is very easy" he says

3) 원화 또는 백슬래시(\\) 표시 사용  
 - 원화 표시 뒤에 오는 기호를 목적성을 없애고 문자 그 자체로 표현할 수 있다

In [24]:
say3 = "\"Python is very easy\" he says"
print(say3)

"Python is very easy" he says

4) 큰 따옴표의 쌍이 맞지 않으면 에러 발생

In [25]:
# ERROR : 큰 따옴표의 쌍이 맞지 않으면 에러 발생
money = "10000\"

SyntaxError: EOL while scanning string literal (Temp/ipykernel_7964/3501535323.py, line 1)

5) 원화 표시 사용 시 두 번 입력

In [26]:
money = "10000\\" # money 변수에 10000\ 표시
print(money)

10000\

#### 2.3. 이스케이프 문자 사용
- 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"
- 이스케이프 코드
 - \n : 문자열 안에서 줄을 바꿀 때 사용
 - \t : 문자열 사이에 간격을 줄 때 사용
 - \\\ : 문자 \ 를 그대로 표현할 때 사용
 - \\' : 작은 따옴표를 그대로 표현할 때 사용
 - \\" : 큰 따옴표를 그대로 표현할 때 사용

1) 줄바꿈 (\n / ''')

In [27]:
multiline = "Life is short\nYou need python"
print(multiline)

Life is short
You need python

In [28]:
multiline = '''
Life is short
You need python
'''
print(multiline)

Life is short
You need python

2) 간격 띄우기 (\t)

In [29]:
multiline = "Life is short\tYou need python"
print(multiline)

Life is short	You need python

#### 2.4. 문자열 연산하기

1) 더하기 연산 : 문자열 이어 붙이기

In [30]:
head = "Python"    # head 라는 변수에 값 "Python" 선언
tail = "is fun!"   # tail 이라는 변수에 값 "is fun!" 선언
print(head + tail) # head 와 tail 을 더한 값 출력

Pythonis fun!

2) 곱하기 연산 : 문자열을 반복할 때 사용

In [31]:
a = "Python" # a 변수에 "Python" 값 선언
print(a*2)   # a 변수에 2를 곱한 값 출력

PythonPython

3) 문자열 곱하기 응용 : 다음과 같은 형태로 문자열을 출력하세요

===================  
My program  
===================

In [32]:
# 방법 1
a = "=" * 20
print(a + "\nMy Program\n" + a)

====================
My Program
====================

In [33]:
# 방법 2
print("=" * 20)
print("My Program")
print("=" * 20)

====================
My Program
====================

#### 2.5. 문자열 길이
- len () 함수 사용
- 괄호 안에 문자열("") 또는 문자열 타입의 변수 넣기

In [34]:
a = "Life is too short" # a 변수에 Life is too short 문자열 값 선언
print(len(a))           # a 변수의 길이 출력

17

#### 2.6. 문자열 인덱싱과 슬라이싱

1) 문자열 인덱싱
- 문자열 안의 특정한 값을 뽑아낼 때 사용
 - 양수로 표현 시 맨 앞글자에서 0부터 시작해서 +1씩 증가
 - 음수로 표현 시 맨 뒷글자에서 -1부터 시작해서 -1씩 증가

In [35]:
a = "Life is too short, You need Python"

In [36]:
print(a[10]) # a 의 10번째 문자 출력
print(a[21]) # a 의 21번째 문자 출력

o
u

In [37]:
print(a[-15]) # a 에서 Y 는 음수로 몇 번째에 있는지 찾아보기

Y

2) 문자열 슬라이싱
- 문자열의 구간을 이용해 문자열을 나눌 때 슬라이싱 사용
 - 시작 번호는 포함되고, 끝 번호는 포함되지 않고 끝 번호-1 위치까지
 - 시작 번호 생략 시, 처음부터 끝 번호-1 까지
 - 끝 번호 생략 시, 시작 번호부터 끝까지

In [38]:
a = "Life is too short, You need Python"

In [39]:
print(a[0:4]) # a 변수의 0번째부터 3번째까지 문자열 출력
print(a[:17]) # 시작 번호 생략하고, 끝 번호는 17에 해당하는 문자열 출력
print(a[19:]) # 시작 번호 19이고, 끝 번호 생략하여 해당하는 문자열 출력
print(a[:])   # 시작 번호 생략, 끝 번호 생략하여 해당하는 문자열 출력

Life
Life is too short
You need Python
Life is too short, You need Python

In [40]:
# You need 출력 (시작 지점은 양수, 끝 지점은 음수로 표현)
print(a[19:-7])

You need

3) 슬라이싱 응용 : a 변수에 "Pithon" 이라는 문자열 저장 후 a 변수를 새로 생성하지 않고 "Python" 으로 바꾸세요
- 문자열은 인덱싱에서 수정이 불가능

In [41]:
a = "Pithon"

In [42]:
# ERROR : 문자열은 수정 지원 X
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [43]:
b = a[:1] + "y" + a[2:]
print(b)

Python

#### 2.7. 문자열 포매팅하기
- 문자열 안의 특정한 값이 계속 변동될 수 있을 때 사용
- 형식을 맞춰주는 것

1) 첫 번째 : 문자열 포맷 코드 사용
- 문자열 포맷 코드
 - %s : 문자열 (string)
 - %c : 문자 1개 (character)
 - %d : 정수 (integer)
 - %f : 실수 (float)
 - %o : 8진수
 - %x : 16진수

In [44]:
print("I eat 3 apples")
print("I eat %d apples" % 3)       # 정수 포매팅
print("I eat %s apples" % "three") # 문자 포매팅

I eat 3 apples
I eat 3 apples
I eat three apples

- 변수로 문자열 포매팅

In [45]:
# 변수로 문자열 포매팅1
number = 3
print("I eat %d apples" % number)

I eat 3 apples

In [46]:
# 변수로 문자열 포매팅2
number = "five"
print("I eat %s apples" % number)

I eat five apples

In [47]:
# 여러 개의 문자열 포매팅
number = 3
day = "three"
print("I ate %d apples. So I was sick for %s days." % (number, day))

I ate 3 apples. So I was sick for three days.

- 문자열 안에 % 표현
 - 포매팅할 때 %를 표현하고 싶은 경우 %% 사용 > % 기호의 목적성이 사라짐

In [48]:
print("Error is %d%%" % 99)

Error is 99%

- 정렬과 공백
 - 공백을 n칸 생성 후 해당 공간 내에서 우측/좌측 정렬
 - 우측 정렬 : 양의 정수
 - 좌측 정렬 : 음의 정수

In [49]:
# hi 라는 단어를 포매팅해서 출력
print("%s" % "hi")

hi

In [50]:
# 총 10칸을 만들어서 hi 라는 문자열을 우측 정렬
print("%10s" % "hi")

        hi

In [51]:
# 총 10칸을 만들어서 hi 라는 문자열을 좌측 정렬
print("%-10s" % "hi")

hi

- 소수점 표현
 - 실수 포매팅 시 기본적으로 소수점 6자리까지 출력됨
 - 소수점 자리를 제한하면 반올림으로 계산하여 출력됨

In [52]:
# 3.42134234 실수를 포매팅하여 출력
print("%f" % 3.42134234)

3.421342

In [53]:
# 소수점 4자리까지 표기
print("%0.4f" % 3.42134234)
print("%.4f" % 3.42134234)

3.4213
3.4213

In [54]:
# 10 칸을 할당하고 소수점 4자리까지 표기해서 우측 정렬
print("%10.4f" % 3.42134234)

    3.4213

In [55]:
# 10 칸을 할당하고 소수점 4자리까지 표기해서 좌측 정렬
print("%-10.4f" % 3.42134234)

3.4213

2) 두 번째 : format() 함수 사용
- 포매팅 시 대입 순서 지정
- 변수 생성과 동시에 포매팅

In [56]:
print("{} {} {}".format(11, 22, 33))

11 22 33

In [57]:
print("{} {} {}".format("three", "four", "five"))

three four five

In [58]:
# 변수로 문자열 포매팅
number = 3
day = "three"
print("I ate {} apples, so I was sick of for {} days".format(number, day))

I ate 3 apples, so I was sick of for three days

In [59]:
# 포매팅 시 대입 순서 지정
number = 3
day = "three"
print("I ate {1} apples, so I was sick of for {0} days".format(number, day))

I ate three apples, so I was sick of for 3 days

In [60]:
# 변수 생성과 동시에 포매팅 (변수명 지정으로 포매팅)
print("I ate {day} apples, so I was sick of for {number} days".format(number=10, day=5))

I ate 5 apples, so I was sick of for 10 days

In [61]:
# ERROR : 변수명 지정해서 포매팅하는 방식은 format 함수 안에서 변수를 만들어줘야 가능
number = 3
day = 2
print("I ate {day} apples, so I was sick of for {number} days".format(number, day))

KeyError: 'day'

- 좌측 / 우측 정렬

In [62]:
# 0부터 19까지 20칸을 생성 후 좌측 정렬 
print("{0:<20}".format("hi"))
print("{:<20}".format("hi"))

hi
hi

In [63]:
# 0부터 19까지 20칸을 생성 후 우측 정렬 
print("{0:>20}".format("hi"))
print("{:>20}".format("hi"))

                  hi
                  hi

- 가운데 정렬

In [64]:
# 0부터 9까지 10칸을 생성 후 가운데 정렬
print("{0:^10}".format("hi"))
print("{:^10}".format("hi"))

    hi
    hi

In [65]:
# 0부터 9까지 10칸을 생성 후 가운데 정렬
print("{0:^10}".format("hit"))
print("{:^10}".format("hit"))

   hit
   hit

- 소수점 표현
 - 소수점 자리를 제한하면 반올림으로 계산하여 출력됨

In [66]:
print("{}".format(3.42136234))

3.42136234

In [67]:
# 소수점 4자리까지 포매팅
print("{0:0.4f}".format(3.4216234))
print("{0:.4f}".format(3.4216234))
print("{:0.4f}".format(3.4216234))
print("{:.4f}".format(3.4216234))

3.4216
3.4216
3.4216
3.4216

In [68]:
# 10칸 부여 및 우측 정렬 후 소수점 4자리까지 포매팅
print("{:10.4f}".format(3.42134234))

    3.4213

3) f 문자열 포매팅
- 파이썬 3.6 버전부터 사용할 수 있는 최근 포매팅 방식
- 괄호 안에서 연산(정수/실수/문자열) 지원

In [69]:
name = "홍길동"
age = 19
print(f"나의 이름은 {name}입니다. 나이는 {age}입니다.")

나의 이름은 홍길동입니다. 나이는 19입니다.

In [70]:
# 연산 지원
name = "홍길동"
age = 19
print(f"나의 이름은 {name}입니다. 나이는 {age+1}이고, 게임 아이디는 {name+'2022'} 입니다.")

나의 이름은 홍길동입니다. 나이는 20이고, 게임 아이디는 홍길동2022 입니다.

- 좌측 / 우측 정렬

In [71]:
print(f'{"hi"}')

hi

In [72]:
# 10칸을 생성 후 좌측 정렬 
print(f'{"hi":<10}')

hi

In [73]:
# 10칸을 생성 후 우측 정렬 
print(f'{"hi":>10}')

        hi

- 가운데 정렬

In [74]:
# 10칸을 생성 후 가운데 정렬 
print(f'{"hi":^10}')

    hi

In [75]:
# 10칸을 생성 후 가운데 정렬 
print(f'{"hit":^10}')

   hit

- 소수점 표현
 - 소수점 자리를 제한하면 반올림으로 계산하여 출력됨

In [76]:
y = 3.42134234
print(f'{y}')

3.42134234

In [77]:
# 10칸 부여 및 우측 정렬 후 소수점 3자리까지 포매팅
print(f'{y:0.3f}')
print(f'{y:.3f}')

3.421
3.421

In [78]:
# 20칸 부여 및 우측 정렬 후 소수점 3자리까지 포매팅
print(f'{y:20.3f}')

               3.421

In [79]:
# 20칸 부여 및 좌측 정렬 후 소수점 3자리까지 포매팅
print(f'{y:<20.3f}')

3.421

In [80]:
# 20칸 부여 및 가운데 정렬 후 소수점 3자리까지 포매팅
print(f'{y:^20.3f}')

       3.421

#### 2.8. 문자열 관련 함수들
- 문자열 자료형은 자체적인 함수 보유
- 문자열 변수 이름 뒤에 . 을 붙인 후 다음에 함수 이름이 오면 됨
- 기존 문자열 변수에 **직접적으로 영향을 주지 X**
 - 실행 후 기존 문자열 변수 재출력 시 값 그대로 출력
- 임시적으로 보여주기 위해 작동하기 때문에 실행 후 **바로 결과 출력**

1) 특정 문자 갯수 세기 : **count()**

In [81]:
a = "hobby"
print(a.count("b"))

2

2) 문자 위치 알려주기 1 : **find()**
- 찾으려는 문자가 첫 번째로 나타나는 위치를 알려줌
- 문자열에 없는 부분을 찾으려고 하면 **-1** 값이 출력
- 찾는 데 문제가 있는 경우에도 프로그램을 진행시켜야 하는 경우 사용

In [82]:
a = "Python is the best choice"

In [92]:
print(a.find("b"))
print(a.find("s")) # 찾는 문자가 문자열에 여러 개 존재할 때
print(a.find("k")) # 없는 문자열 찾을 때

-1
-1
-1

3) 문자 위치 알려주기 2 : **index()**
- 찾으려는 문자가 첫 번째로 나타나는 위치를 알려줌
- 문자열에 없는 부분을 찾으려고 하면 **에러** 출력
- 찾는 데 문제가 있는 경우 프로그램을 중단시켜야 하는 경우 사용

In [93]:
a = "Python is the best choice"

In [94]:
print(a.index("b"))
print(a.index("s")) # 찾는 문자가 문자열에 여러 개 존재할 때

14
8

In [95]:
# ERROR : index() 에서 없는 문자열 찾을 때
print(a.index("k"))

ValueError: substring not found

4) 문자열 삽입 : **join()**
- 문자열을 함수 괄호 안 문자열의 문자 문자 **사이**에 삽입

In [96]:
# 문자 삽입
a = "."
a.join("abcd")

'a.b.c.d'

In [97]:
# 문자열 삽입
a = "xy"
a.join("abcd")

'axybxycxyd'

5) 소문자를 대문자로 변환 : **upper()**

In [98]:
a = "hi"
print(a.upper())

HI

6) 대문자를 소문자로 변환 : **lower()**

In [99]:
a = "HI"
print(a.lower())

hi

7) 공백 제거
- 왼쪽 공백 제거 : **lstrip()**
- 오른쪽 공백 제거 : **rstrip()**
- 양쪽 공백 제거 : **strip()**

In [100]:
a = "  h i  "
print(a.lstrip()) # 왼쪽 공백 제거
print(a.rstrip()) # 오른쪽 공백 제거
print(a.strip())  # 양쪽 공백 제거

h i
  h i
h i

8) 문자열 변경 : **replace()**
- 문자열.replace(변경 전 문자열, 변경 후 문자열)
- replace() 함수는 변환 용도의 함수로 문자열을 비교해서 변환
 - 인덱싱은 문자를 찾기 위한 용도이기 때문에 문자열 변환이 불가능

In [101]:
a = "Life is too short"
print(a.replace("Life", "This pencil"))
print(a) # a 변수에 변화 있는지 확인

This pencil is too short
Life is too short

9) 문자열 분할 : **split()**
- 문자열.split(분할 기준)
- 분할 기준을 지정 안할 경우 기본값 공백 기준으로 분할
- 분할된 값들을 **리스트** 형태로 반환

In [102]:
# 공백 기준 분할
a = "Life is too short"
print(a.split())

['Life', 'is', 'too', 'short']

In [103]:
# 콜론(:) 기준 분할
b = "a:b:c:d"
print(b.split(":"))

['a', 'b', 'c', 'd']

### 3. 부울 자료형 (bool)
- 참과 거짓을 나타내는 자료형
 - True : 참
 - False : 거짓
- 참과 거짓을 표현할 때는 반드시 **첫 문자가 대문자**로 시작해야 함

#### 3.1. 부울 자료형 생성

In [2]:
a = True
b = False
print(type(a))  # 변수 a 의 타입 확인
print(type(b))  # 변수 b 의 타입 확인

<class 'bool'>
<class 'bool'>

#### 3.2. 부울 자료형의 참과 거짓 판별
- 문자열, 리스트, 튜플, 딕셔너리 등에 내용이 있으면 True(참)
 - "python"
 - [1, 2, 3]
 - (1, 2, 3)
 - {'key':'value'}
 - 1 : True
- 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어있으면 False(거짓)
 - ""
 - []
 - ()
 - {}
 - 0
 - None

1) if 문으로 참과 거짓 판단

In [5]:
if []:
    print("True")
else:
    print("False")

False

In [6]:
if [1, 2, 3]:
    print("True")
else:
    print("False")

True

2) bool() 함수를 사용하여 참과 거짓 판단

In [7]:
print(bool("python"))  # python 문자열의 참 거짓 확인

True

In [9]:
print(bool(""))       # 빈 문자열의 참 거짓 확인

False